__pycache__
.vscode
.vs
.ipynb_checkpoints
test.ipynb
calibration-images/*
*.swp
*.pyc
test-videos/*
*.ts
*.m3u8

logs/*.log
logs/*.txt

## Visual Studio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/